* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



.shadow {
    position: absolute;
    bottom: -100px;
    height: 100px;
    width: 100%;
    left: 0;
    background: linear-gradient(to top, #006045, #2d3e30);

}

// .block {
//     position: absolute;
//     height: 100px;
//     width: 100%;
//     left: 0;

// }


// .shadow2 {
//     position: absolute;
//     bottom: 0%;
//     height: 50px;
//     width: 100%;
//     left: 0;
// background: linear-gradient(to bottom, #1f3a0e59, transparent);
// background-color: #edede9;




// }




header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cloud,
.mountainDown,
.mountainUp,
.mountainRight,
.mountainMiddle {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}

.wrapper {
    height: 100vh;
    background-color: rgba(94, 117, 117, 0.205);
    z-index: -1;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 1rem 0;
    z-index: 30;

}

.container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;

}

.profile {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 2rem;

}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: rgba(39, 65, 7, 0.527);


}

.list-item span {
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 .7rem;
    color: beige;
    font-size: 1.2rem;
}

.list-item a,
.profile a {
    text-decoration: none;
    color: beige;

    &:hover {
        color: black;
    }

    &:active {
        color: white;

    }

}

.title {
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 10px black;
}

// section {

//     background-color: #edede9;
//     color: black;
//     width: 100%;
//     height: 100vh;
//     font-size: 10rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;

// }
// SECOND-PAGE------------------
// .page {
//     height: 100vh;

// }

// .second-container {
//     height: 100%;
// }


.bg-green {
    z-index: -1;
}



section {
    background-image: url(../img/bg/bg4.jpg);
    background-repeat: repeat-y;
    // width: 100%;
    // height: 100%;

}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    // repeat(次數, 格線, 格線)
    align-items: center;
    gap: 3rem;
}

.python {
    color: #f5ebe0;
    letter-spacing: 2px;
}

.python-content {
    padding: 20px 0;
    letter-spacing: 1px;
}

.python-content span {
    color: #f5ebe0;
    letter-spacing: 2px;
}


.row img {
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;

}

.row {
    // background: #f5ebe0;
    border-radius: 28px;
    border: 2px solid transparent;
    box-shadow: 0 0 5px #a3b18a;
    padding: 20px;
    transition: all .50s ease;
    margin: 0 10px;
    position: relative;
    // top: 100px;

}

.row a {
    text-decoration: none;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 0.5rem;
}

.row h5 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: antiquewhite;

}

.row p {
    font-size: 18px;
}

.row-icon i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 25px;
    border-radius: 50%;
    color: white;
    background: #023e8a;

    z-index: 1;
}

.row-icon i:hover {
    background-color: red;

}


.row h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;

}

.row:hover {
    border: 3px solid #ffbe0b;
    transform: translateY(-5px) scale(1.03);
}

.update {
    padding: 0 20px 20px 0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}